**/__pycache__/
*.sqlite3
db.sqlite3-journal

.idea
.venv/


# Ignorer tous les fichiers dans les dossiers migrations
**/migrations/*.py
**/migrations/*.pyc

# Mais ne pas ignorer les fichiers __init__.py dans les dossiers migrations
!**/migrations/__init__.py